

.card {
  margin: 0 0 0 0;
  padding: 0;
}


body {
  background-color: #419FF4
}
main {
  width:100%;
  height:100%;
  position: absolute;
}

.left-content {
  height:100%;
}

.mid-content {
  height:100%;
}

.right-content {
  height:100%;
}

.mid-float {
  width: 100%
}
.bottom-left {
    margin-bottom: -40px;
    top: auto;
    left: 100px;
    bottom: 0px;
    right: auto;
    position: fixed;
    z-index: 1;

};

.opacity50 {
  opacity: .5;
}


.btn-floating.bottom-left-button {
  width: 200px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.0);
  background-image: url('images/octocat.png');
  border-radius: 0;
  z-index: 10;

}


.fixed-action-btn {
  margin-left: 0px;
}
.fixed-action-btn .btn-floating img{
  /* margin-left: -200px; */
}
.fixed-action-btn ul {
  margin-bottom: 100px;
  margin-left: 2px;
  z-index: 100;
}

.btn-floating.yellow {
  width: 15px;
  height: 15px;
}


.btn-floating.yellow.text {
  line-height: 2em;
  height: 2em;
  width: 200px;
  border-radius: 0px;
  transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px);
  margin-left: 0px;
  background-color: rgba(255, 255, 255, 0.0) !important;
  text-align: center;
}

.btn-floating.yellow.text.image {
  height: 40px
}
.btn-floating.yellow.text.image:hover {
  margin-left: +20px;
}
.btn-floating.yellow.text.image img {
  height: 40px;

}

.btn-floating.yellow.text.name {
  margin-bottom: -30px;
  font-size: 1.25em;
  font-family: 'Comfortaa', cursive;
}

.btn-floating.yellow.text.title {
  margin-bottom: 15px;
  font-size: 1em;
  font-family: 'Unica One', cursive;
}

.email {
}

/* Middle Grid Main */

.waves-effect.waves-light-custom .waves-ripple {
  background-color: rgba(255, 255, 255, 0.15);
}


.z-depth-0-custom, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.0), 0 1px 5px 0 rgba(0, 0, 0, 0.0), 0 3px 1px -2px rgba(0, 0, 0, 0.0);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.0), 0 1px 5px 0 rgba(0, 0, 0, 0.0), 0 3px 1px -2px rgba(0, 0, 0, 0.0);
}

.main-grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    "a b c"
    "d d e"
    ". f e"
    ". f g"
  ;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 60px;
  grid-template-columns: repeat(3, 202px);
  grid-template-rows: repeat(4, 126px);
  transition: opacity 0.5s ease;
}

.main-grid-item {
  background-color: rgba(255, 255, 255, 0.5);
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); */
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Unica One', cursive;
}

.main-grid-item:hover {
  /* background-color: rgba(230, 113, 107, .8); */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease;
  cursor: pointer;

}

.main-item1 {
  grid-area: a;
  /* background-color: #e6716b; */
}

.main-grid-item img {
  /* justify-self: center;
  align-self: center; */
  height: 100px;
  opacity: 0.8;
}

.main-item2 {
  grid-area: b;
}

.main-item3 {
  grid-area: c;
}

.main-item4 {
  grid-area: d;
}

.main-item5 {
  grid-area: e;
  /* background-color: #e6716b */
}

.main-item6 {
  grid-area: f;
}

.main-item7 {
  grid-area: g;
}


/* CONTENT GRID */


.content-grid-container {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "x x x x x x x x x x y y"
    "x x x x x x x x x x y y"
    "x x x x x x x x x x a a"
    "x x x x x x x x x x b b"
    "x x x x x x x x x x c c"
    "x x x x x x x x x x d d"
    "x x x x x x x x x x e e"
    "x x x x x x x x x x f f"
    "x x x x x x x x x x g g"

  ;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 60px;
  grid-template-columns: repeat(12, 53px);
  grid-template-rows: repeat(9, 61px);
  transition: opacity 0.5s ease;
}

.content-grid-item {
  background-color: rgba(255, 255, 255, 0.5);
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); */
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Unica One', cursive;
}

.content-grid-item:not(.content-item-x):hover {
  /* background-color: rgba(230, 113, 107, .8); */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease;
  cursor: pointer;

}

.content-grid-item img {
  /* justify-self: center;
  align-self: center; */
  height: 40px;
  opacity: 0.8;
}


.content-item-x {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  grid-area: x;
  align-content: flex-start;
}

.content-item-x div:not(.empty-project):hover {
  cursor: pointer;
}


.content-item-y {
  grid-area: y;
}


.content-item-z {
  grid-area: z;
}

.content-item1 {
  grid-area: a;
  /* background-color: #e6716b; */
}

.content-item2 {
  grid-area: b;
}

.content-item3 {
  grid-area: c;
}

.content-item4 {
  grid-area: d;
}

.content-item5 {
  grid-area: e;
  /* background-color: #e6716b */
}

.content-item6 {
  grid-area: f;
}

.content-item7 {
  grid-area: g;
}

.content-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 140px;
  height: 112px;
  color: rgba(0,0,0,0.8);
  background-color: rgba(255,255,255,0.15);
}

.empty-project {
  background-color: rgba(255,255,255,0.05);
}

.title-card {
  background-color: rgba(255,255,0,0.0);
  font-size: 28px;
  color: rgba(0,0,0,0.2);
}
.title-card:hover{
  cursor: default !important;
}
