@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');

* {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  transition: all .5s linear;
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  /* background-color: rgba(255,255,255,.00); */
  z-index: 1;
  display: flex;
  justify-content: space-between;

}



#top-left{
  margin: 20px;
  font-size: 25px;
  font-family: 'Nanum Brush Script', cursive;
  font-weight: 400;
  color: rgba(255,255,255,.9);
  transition: color 1.5s ease;
}

#top-left:hover{
  cursor:default;
}

#top-right{
  /* line-height: 20px; */
  margin-top: 30px;
  margin-right: 10px;
  transition: color 1.5s ease;

  /* font-size: 10px; */
}

i {
  margin-right: 15px;
  font-size: 15px;
  color: rgba(255,255,255,1);
}

i:hover{
  /* margin-left: 5px;
  margin-right: 20px; */
  font-size: 17px;
  margin-top: -2px;
}

img {
  border-radius: 25px;
  margin: 10px;
}

header {
  height: 100vh;
  background-color: rgba(51,51,51,1);
}

main {
  margin-top: -10px;
  height: 100vh;
  background-color: rgba(255,255,255,1);
}

.dark-font {
  color: rgba(51,51,51,1) !important;
}


/*
linear-gradient(red 50%, orange 50%); */
